.cliente-container{
    width: 100%;
    max-width: 1120px;
    padding: 0 30px;
    margin: 32px auto;
}

.cliente-container header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 15px 20px; 
    border-radius: 8px; 
}
.cliente-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.cliente-container header span strong{
    color:#251FC5
}

.cliente-container header img{
    height: 64px;
    margin-right: 20px;
    
}

.cliente-container header a{
    width: 160px;
    margin-left: auto;
    margin-right: 20px;
}

.cliente-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #DCDCE6;
    background: transparent;
    margin-left: 16px;
    margin-right: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 

}
.cliente-container header button:hover{
    
    background-color: rgba(37, 31, 197, 0.1);
    color: #bf1650; 
}

.cliente-container header button:hover svg {
    fill: #251FC5; 
}

.cliente-container h1{
    margin-top: 80px;
    margin-bottom: 24px;

}

.cliente-container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.cliente-container ul li{
    background:cyan;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.cliente-container ul li button{
    position:absolute;
    right: 24px;
    top:24px;
    border: 0;
    background: transparent;
}

.cliente-container ul li button + button{
    top: 50px;
}

.cliente-container ul li button:hover{
    opacity: 0.8;
}

.cliente-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414D;
}

.cliente-container ul li p + strong{
    margin-top: 16px;
}

.cliente-container ul li p{
    color:#737380;
    line-height: 16px;
    font-size:16px;
}
